
*{

    margin: 0px;
    padding: 0px;
}
/* INICIO BODY! */
body{
    h1{
        color: orange;
    }

    font-family: 'El Messiri', sans-serif;
    font-size: 15px;
    background-image: url("/Media/S3oft_Wave_Background.jpg") ;
    background-size: cover;

}/* FIN BODY! */