.form{
    max-width: 100%;
    display: flex;
   justify-content: center;
    margin-bottom: 10px;
    
    
}
.fondo{
    background: rgba(62, 69, 81, 0.3);
    border-radius: 5px;
}
@media screen and (max-width: 360px){

    .fondo{
        width: 100%;
    }
}