
/* INICIO SECCION 1*/

.main{

    .img0{
  
        max-width: 100%;
    
      
    }
    .img1{
        margin-right: 15px;
        
    }
    
    .texto{
        
        margin-right: 10px;
        text-align: justify;
    
    }

}
 
 
  

  
  /* FIN GRIDS MOBILE FIRST INDEX */