
/* INICIO SECCION 1*/

.main{

    .img0{
  
        max-width: 100%;
    
      
    }
    .img1{
        margin-right: 15px;
        
    }
    
    .texto{
        
        margin-right: 10px;
        text-align: justify;
    
    }
    .btnver{
        width: 250px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        margin: auto;
        text-decoration: none;
        background-color: #ffa726;
        color: white;
    }

}
 
 
  

  
  /* FIN GRIDS MOBILE FIRST INDEX */