.contain{
    display: flex;
    justify-content: center;
  height: 100%;
  width: 100%;
   
    /*width: 100%;
    max-width: 1500px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:"header""form-box" */ 
}

/*.contain .header{
    grid-area: header;
}
.contain .form-box{
    grid-area: form-box;
}*/
.form-box{
    width: 370px;
    height: 455px; 
    margin: 6% auto;
    position: relative;
    background: white;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    
}
.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e0e0e0;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
}
#elegir{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right,rgba(63, 81, 181, 0.7), rgba(0, 188, 212, 0.7) );
    border-radius: 30px;
    transition: 0.5s;
}
.input-group{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    
  
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #004d40;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,rgba(63, 81, 181, 0.7), rgba(0, 188, 212, 0.7) );
    border: 0px;
    outline: none;
    border-radius: 30px;
}
#login{
    left: 10px;
}
#registrar{
    left: 450px;;
 
}
@media screen and (max-width: 360px)  {
    
    .input-group{
        width: 100%;
       
        
        
      
    }
    .form-box{
        width: 100%;
    }
    .toggle-btn{
        width: 100%;
        
       
    }
    #elegir{
        background: none;
    }
    


}


